<html lang='vi'>
  <head>
    <meta charset='UTF-8' />
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <h2>Header chung của trang web</h2>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <p>Bản quyền © 2025</p>
    </footer>
  </body>
</html>